{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}


{% block main %}
    <center>
        <div class="alert alert-danger">
        Verander hier je wachtwoord. Wil je dat niet, klik dan <a href="{{ url_for('homepage') }}" class="alert-link">hier</a> om naar de homepagina te gaan!
        </div>
    </center>

    <br>

    <form action="{{ url_for('change_password') }}" method="post">
        <div class="container">

        <form>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input autocomplete="off" id="password" type="text" required autofocus class="form-control" name="password" placeholder="Wachtwoord">
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" required class="form-control" name="new-password" placeholder="Nieuw wachtwoord">
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" required class="form-control" name="password-confirm" placeholder="Nieuw wachtwoord (bevestiging)">
            </div>

            <br>

            <div class="form-group">
            <button class="btn btn-danger" type="submit">Registeer</button>
            </div>

        </form>
        </div>
    </form>
{% endblock %}