{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<div class="alert alert-danger">
        Je kunt hier je wachtwoord veranderen. Wil je dat niet, klik <a href="{{ url_for('homepage') }}" class="alert-link">hier</a> om terug te gaan naar de homepagina!
        </div>
<center>
    <form action="{{ url_for('change_password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input required autocomplete="off" autofoucus class="form-control" name="password" placeholder="Huidige wachtwoord" type="text"/>
            </div>
            <div class="form-group">
                <input required class="form-control" name="new-password" placeholder="Nieuw wachtwoord" type="password"/>
            </div>
            <div class="form-group">
                <input required class="form-control" name="password-confirm" placeholder="Nieuw wachtwoord (bevestiging)" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Verander wachtwoord</button>
            </div>
        </fieldset>
    </form>
</center>
{% endblock %}