{% extends "layout.html" %}

{% block title %}
    Comment
{% endblock %}


{% block main %}
<center>
    <form method=POST enctype=multipart/form-data action="{{ url_for('comment', picid = picid) }}">

       <label for="txtPost">Beschrijving</label>
        <br>
            <textarea required class="form-control"  id="txtPost" name="inputcomment"></textarea>
        <br>

       <div class = "form-group">
        <br>
           <button class = "btn btn-danger" type= "submit" value = "post" name = "post" > Post</button>


       </div>

    </form>
    </center>
{% endblock %}






