{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    {% for photo in uploads %}
        <div>
                <img src = "static/img/{{ photo.photo_name }}" width="850" height="650">
                <br> </br>


                <form action = "{{ url_for('trigg') }}" method = "post" onsubmit="return value">
                <button name="trigg" class = "btn btn-danger" value = "{{ photo.photo_id }}">Trig</button>
                </form>

                <form action = "{{ url_for('follow') }}" method = "post" onsubmit="return value">
                <button name="follow"  class = "btn btn-danger"  value="{{ photo.photo_user_id }}">Follow</button>
                </form>

                <form action = "{{ url_for('comment') }}" method = "post" onsubmit="return value">
                <button name="comment"  class = "btn btn-danger"  value="{{ photo.photo_user_id }}">Comment</button>
                </form>

                {{photo.photo_description }}
                <br> {{photo.username }} </br>
                {{ photo.trigs }} triggs

        </div>
        <br>
        {% endfor %}

{% endblock %}