{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input required autocomplete="off" autofocus class="form-control" name="username" placeholder="Gebruikersnaam" type="text"/>
            </div>
            <div class="form-group">
                <input required class="form-control" name="password" placeholder="Wachtwoord" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Log in</button>

            </div>
        </fieldset>
    </form>
{% endblock %}
