{% extends "layout.html" %}

<form method=POST enctype=multipart/form-data action="{{ url_for('profile') }}">

{% block main %}
    <center>
        <p>
        <div class="alert alert-danger">
            Welkom op je <strong>profielpagina</strong>. Bekijk hier al je uploads!
        </div>
        </p>
    </center>

    {% for photo in uploads %}
        <div>
            <center>

            <br><br>

            {% if photo.photo_name.replace("'" , "")[:5] == 'https'  %}
                <div class="img-text" style="font-size: 20px; font-family: cursive; color:crimson">{{ photo.trigs }} triggs </div>
                <img src="{{ url_for('getgif', gifje=photo.photo_name.split('/')[4])   }}" width="500" height="500">

            {% else %}
                <div style="font-size: 28px; font-family: monospace;">  {{photo.photo_description }} </div>
                <div class="img-text" style="font-size: 20px; font-family: cursive; color:crimson">{{ photo.trigs }} triggs </div>
                <img src = "static/img/{{ photo.photo_name }}" width="850" height="650">

            {% endif %}

            <br> </br>

            <div class="btn-group" style='display: inline-flex'>

                {% if photo.photo_user_id in volgend %}
                <form action = "{{ url_for('follow') }}" method = "post" onsubmit="return value">
                <button name="follow"  class = "btn btn-success btn-block"  value="{{ photo.photo_user_id }}">Volgend {{photo.username}}</button>
                </form>

                {% else %}
                <form action = "{{ url_for('follow') }}" method = "post" onsubmit="return value">
                <button name="follow"  class = "btn btn-danger btn-block"  value="{{ photo.photo_user_id }}">Volg {{photo.username}}</button>
                </form>

                {% endif %}
                {% if photo.photo_id in getrigged %}
                <form action = "{{ url_for('trigg') }}" method = "post" onsubmit="return value">
                <button name="trigg" class = "btn btn-success btn-block" value = "{{ photo.photo_id }}">Triggered</button>
                </form>

                {% else %}
                <form action = "{{ url_for('trigg') }}" method = "post" onsubmit="return value">
                <button name="trigg" class = "btn btn-danger btn-block" value = "{{ photo.photo_id }}">Trig</button>
                </form>

                {% endif %}
                <form action = "{{ url_for('comment', picid = photo["photo_id"]) }}" method = "post" onsubmit="return value">
                <button name="comment" class = "btn btn-danger btn-block" value = "{{ photo.photo_id }}">Comment</button>
                </form>

                <br>
            </center>
        </div>



        {% for comment in photo.comments %}
        <center>
            <h5><b>{{ comment.username }}:</b> <i>{{ comment.photo_comment }}</p></h5>
            <p></i>
        </center>
        {% endfor %}
    {% endfor %}


        <center>
            <br>
            ©Trigger door Floris Tomassen & Madeleine Kroeze
        </center>

</body>
{% endblock %}