{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<center>
    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">

       <label for="txtPost">Beschrijving</label>
        <br>
            <textarea class="form-control" rows ="3" id="txtPost" maxlength = "1000" name="inputDescription"></textarea>
        <br>

       <div class = "form-group">
        <br>
           <button name = "post" class = "btn btn-danger" value = "post" type="submit" > Post</button>

       </div>

    </form>
    </center>
{% endblock %}
